@font-face {
  font-family: 'Ahsing';
  src: url('Ahsing.woff2') format('woff2'),
    url('Ahsing.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'FONTSPRING DEMO - The Seasons';
  src: url('FONTSPRINGDEMO-TheSeasonsBold.woff2') format('woff2'),
    url('FONTSPRINGDEMO-TheSeasonsBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Aileron';
  src: url('Aileron-Regular.woff2') format('woff2'),
    url('Aileron-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Aileron';
  src: url('Aileron-Italic.woff2') format('woff2'),
    url('Aileron-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 28px;
  background-color: #FFF9ED;
}

h1 {
  margin: 0;
  font-family: 'Ahsing', sans-serif;
  font-size: 40px;
  font-weight: 100;
}

h2 {
  margin: 0;
}

p {
  margin: 0;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}