@font-face {
    font-family: 'Ahsing';
    src: url('Ahsing.woff2') format('woff2'),
        url('Ahsing.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

